# SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_SECURE=
SMTP_USER=
SMTP_PASS=
SMTP_FROM=

# Stripe
STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# YooKassa
YOOKASSA_SHOP_ID=
YOOKASSA_API_KEY=

# XMPP
XMPP_PASSWORD=

FREESWITCH_PASSWORD=
FREESWITCH_SSH_USERNAME=
FREESWITCH_SSH_PASSWORD=
